@page
@model RazorPagesDB.Pages.CreateModelFilm

<h2>Добавление нового фильма</h2>
<form method="post">
    <p>
        <label>Название</label><br />
        <input name="name" />
    </p>
    <p>
        <label>Id категории</label><br />
        <input name="IdCategories" type = "number"/>
    </p>
    <input type="submit" value="Отправить" />
</form>
